<!-- footer container start -->
<div id="footerCntr">
  <!-- footer box start -->
  <div class="footerBox">
    <p>&copy; 2015 eClinic. All rights reserved.</p>
    <div class="menu-footermenu-container"><ul id="menu-footermenu" class="menu">
      <ul>
        <li id="menu-item-21" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-21">
          <a href="/about/">about</a>
        </li>
        <li id="menu-item-22" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-22">
          <a href="/privacy-policy/">privacy policy</a>
        </li>
        <li id="menu-item-23" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-23">
          <a href="/terms-of-use/">terms of use</a>
        </li>
      </ul>
    </div>
  </div>
  <!-- footer box end -->
</div>
<!-- footer container end -->
