<!-- header container start -->
<div id="headerCntr">
  <a href="/sign-up" class="signup">new physician sign-up</a>
  <!-- header login start -->
  <div class="headerLogin">
    <div class="headerLog">        
    </div>
  </div>
  <!-- header login end -->
  <h1><%= link_to 'eClinic', root_url %></h1>
  <!-- menu area start -->
  <div class="menuArea">
    <div class="menu-topmenu-container">
      <ul id="menu-topmenu" class="menu">
        <li id="menu-item-17" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-17">
          <a href="/topics/">topics</a>
        </li>
        <li id="menu-item-18" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-18">
          <a href="/physicians/">physicians</a>
        </li>
        <li id="menu-item-19" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-19">
          <a href="/about/">about</a>
        </li>
        <li id="menu-item-20" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-20">
          <a href="/blog/">blog</a>
        </li>
      </ul>
    </div>       
  </div>
  <!-- menu area end -->
  <!-- search area start -->
  <div class="searchArea">
    <form role="search" method="get" id="searchform" action="http://eclinic.com/">
      <input type="text" value="Search..." name="s" id="s" onclick="if (this.defaultValue==this.value) this.value=''" onblur="if (this.value=='') this.value=this.defaultValue" />
    </form>
  </div>
  <!-- search area end -->
</div>
<!-- header container end -->
