<!-- middle container start -->
<div id="middleCntr">
  <!-- title area start -->
  <div class="titleArea">
    <h2>about</h2>
  </div>
  <!-- title area end -->
  <!-- left panel start -->
  <div id="leftPanel">
    <!-- content box start -->
    <div class="contentBox">
      <h2>About eClinic.com</h2>
      <p><em><strong>&#8220;Info delivered from my personal physician- I give this a 10!&#8221;</strong> &#8211; eClinic patient</em></p>
      <address><strong>&#8220;My daughter has had acl surgery with Dr. Micheli. I appreciate these videos as we are beginning to re introduce our daughter into sports&#8221; &#038;</strong>- eClinic patient</address>
      <p>eClinic was founded by David Buck in 2009 while he was a medical student at Tufts University. eClinic was created to extend the knowledge and therapeutic touch of trusted physicians beyond the office setting.</p>
      <p>We are passionate about improving health in innovative ways. And we hope that eClinic can compliment in-person counseling with online patient education.</p>
      <h3>eClinic and Patient Education</h3>
      <table style="width: 100%;" border="0">
        <tbody>
          <tr>
            <td align="center"><a href="http://support.eclinic.com/#HowCanEClinicHelp" target="_blank"><img title="Current Challenges Video" src="wp-content/themes/eclinic/images/CurrentChalenges.png" alt="Current Challenges Video" width="300" height="164" /></a></td>
            <td align="center"><a href="http://support.eclinic.com/#CurrentChallenges" target="_blank"><img title="How Can eClinic Help Video" src="wp-content/themes/eclinic/images/HowCaneclinicHelp.png" alt="How Can eClinic Help Video" width="300" height="164" /></a></td>
          </tr>
          <tr>
            <td align="center">What are the current challenges to patient education?</td>
            <td align="center">How can eClinic help educate patients?</td>
          </tr>
        </tbody>
      </table>
      <h3>Contact Us</h3>
      <p>Facebook: <a href="http://www.facebook.com/eclinic" target="_blank">www.facebook.com/eclinic</a><br />
      Twiiter: <a href="http://twitter.com/eclinic" target="_blank">@eclinic</a><br />
      Email: <a href="mailto:info@eClinic.com">info@eClinic.com</a><br />
      Phone: 559-ECLINIC (559-325-4642)</p>
      <p> <a href="http://www.satellitedishcanada.com/">online canadian casinos</a></p>
    </div>
    <!-- content box end -->
  </div>
  <!-- left panel end -->
  <!-- right panel start -->
  <div id="rightPanel">
  </div>
  <!-- right panel end -->
</div>
<!-- middle container end -->

