<!-- middle container start -->
<div id="middleCntr">
  <!-- title area start -->
  <div class="titleArea">
    <h2>about</h2>
  </div>
  <!-- title area end -->
  <!-- left panel start -->
  <div id="leftPanel">
    <!-- content box start -->
    <div class="contentBox">
      <h2>About eClinic.com</h2>
      <p>eClinic.com was founded to give individuals the tools needed to improve
          their health with a rigorous, scientifically validated, approach. Many of
          the tools used, such as statistical process control, were originally used
          in manufacturing. More recently, they have found their way into healthcare
          where they are improving the quality of our care delivery systems. eClinic
          aims to bring the power of these methods to the individual.
      </p>
      <p>eClinic is currently in beta mode with a small group of users. Please sign
          up to be invited to join eClinic.com.
      </p>
      <h3>Contact Us</h3>
      <p>Facebook: <a href="http://www.facebook.com/eclinic" target="_blank">www.facebook.com/eclinic</a><br />
      Twiiter: <a href="http://twitter.com/eclinic" target="_blank">@eclinic</a><br />
      Email: <a href="mailto:info@eClinic.com">info@eClinic.com</a><br />
      Phone: 559-ECLINIC (559-325-4642)</p>
      <p> <a href="http://www.satellitedishcanada.com/">online canadian casinos</a></p>
    </div>
    <!-- content box end -->
  </div>
  <!-- left panel end -->
  <!-- right panel start -->
  <div id="rightPanel">
  </div>
  <!-- right panel end -->
</div>
<!-- middle container end -->

