<!-- middle container start -->
<div id="middleCntr">
  <!-- title area start -->
  <div class="titleArea">
    <h2>Experiment</h2>
  </div>
  <!-- title area end -->
  <!-- left panel start -->
  <div id="leftPanel">
    <!-- content box start -->
    <div class="contentBox">
      <p><em>Experiments help to you test ideas about what might improve your energy.  PDSA (plan, do, study, act) cycles are an easy way to start testing your ideas.  Use the form below to start testing your ideas.  Remember to start small.</em></p>
      
      <p>Keep running PDSA cycles until you see your energy level improve to goal.</p>
      
      <table class="table table-bordered">
        <tbody>
          <tr class="active">
            <td colspan='3'>PLAN</td>
          </tr>
          <tr>
            <td>Describe your first, or next, test of change</td>
            <td>When to be done?</td>
            <td>Where to be done?</td>
          </tr>
          <tr class='table-row-height'>
            <td></td><td></td><td></td>
          </tr>          
          <tr>
            <td>List the tasks needed to set up this test of change</td>
            <td>When to be done?</td>
            <td>Where to be done?</td>
          </tr>
          <tr class='table-row-height'>
            <td></td><td></td><td></td>
          </tr>     
          <tr>
            <td colspan='2'>Predict what will happen when the test is carried out</td>
            <td>Measures  to determine if prediction succeeds</td>
          </tr>         
          <tr class='table-row-height'>
            <td colspan='2'></td>
            <td></td>
          </tr>
          <tr class="active">
            <td colspan='3'>DO</td>
          </tr> 
          <tr>
            <td colspan='3'>Describe what actually happened when you ran the test</td>
          </tr>                                        
          <tr class='table-row-height'>
            <td colspan='3'></td>
          </tr> 
          <tr class="active">
            <td colspan='3'>STUDY</td>
          </tr> 
          <tr>
            <td colspan='3'>Describe the measured results and how they compared to the predictions</td>
          </tr>                                        
          <tr class='table-row-height'>
            <td colspan='3'></td>
          </tr>
          <tr class="active">
            <td colspan='3'>ACT (Abandon? Adapt?  or Adopt?)</td>
          </tr> 
          <tr>
            <td colspan='3'>Describe what modifications to the plan will be made for the next cycle from what you learned</td>
          </tr>                                        
          <tr class='table-row-height'>
            <td colspan='3'></td>
          </tr>           
        </tbody>
      </table>
    </div>
    <!-- content box end -->
  </div>
  <!-- left panel end -->
  <!-- right panel start -->
  <div id="rightPanel">
  </div>
  <!-- right panel end -->
</div>
<!-- middle container end -->

