<!-- middle container start -->
<div id="middleCntr">
  <!-- titleBar start -->
  <div class="titleBar">
    <h1>Improve your energy</h1>
    <h2 id="marketing">
      eClinic uses proven methodology to help you improve your energy levels
    </h2>
  </div>
  <!-- titleBar end -->

  <!-- video area start -->
  <div class="videoArea">
    <div class="random">
      <div class="video">
        <p>
          eClinic (energy clinic) uses proven methodology to help you improve your energy. Increased energy may reflect a healthier life, and it might also be a first step towards making other improvements in your life...It is hard to make much progress on your health when you are always tired.  eClinic focuses on healthy changes that will improve your energy and your life.
        </p>
        <%= image_tag('graph.jpg', width: '100%', height: '230px') %>
      </div>
      <div class="video-description">
        <h2> eClinic provides </h2>
        <ul>
          <li>
            Tracking tools to help track your energy and know when you have improved.
          </li>
          <li>
            Analysis tools to help you find the most effective methods to improve your energy.
          </li>
          <li>
            Planning tools to help you run experiments.
          </li>
          <li>
            A community to help you in the journey.
          </li>
        </ul>
        <p>
          <a href='https://docs.google.com/forms/d/1JO8jgm4wk7lLWNvHtcGY4aJsw58n6DUUQpDfcuxbaqQ/viewform'>Sign up </a>
          to join our community and improve your energy levels. Registration with eClinic is free.
        </p>
      </div>
    </div>
  </div>
  <!-- video area end -->
  <!-- social area start -->
  <div class="socialArea">
    <div id="twitter">
    </div>
    <div id="facebook">
    </div>        
  </div>
  <!-- social area end -->
</div>
<!-- middle container end -->




