<!-- middle container start -->
<div id="middleCntr">
  <!-- titleBar start -->
  <div class="titleBar">
    <h2 id="marketing">speak for your health</h2>
    <img src="/assets/cam.gif" alt="" />
  </div>
  <!-- titleBar end -->

  <!-- video area start -->
  <div class="videoArea">
    <div class="random">
      <div class="video">
        <embed src="http://www.youtube.com/v/JSED3hRI-KY?fs=1&amp;hl=en_US" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="500" height="305"></embed>
      </div>
      <div class="video-description">
        <h2>FEATURED PHYSICIAN</h2>
        <h3 class="physician">Pierre D&#8217;Hemecourt, MD</h3>
        <h4>CERTIFICATIONS (SPECIALTIES)</h4>
        <p>Sports Medicine</p>
        <p>Emergency Medicine</p>
        <h4>AFFILIATIONS (POSITIONS)</h4>
        <p>Children&#8217;s Hospital Boston</p>
        <p>Lecturer in Sports Medicine, Harvard Medical School</p>
        <p>
          <a href="#" class="bttn">watch the videos</a>
          <a href="http://eclinic.com/admin/pierre-dhemecourt-md/" class="bttn">read the full bio</a>
        </p>
      </div>
    </div>
  </div>
  <!-- video area end -->
  <!-- social area start -->
  <div class="socialArea">
    <div id="twitter">
      <a class="bttn" href="http://twitter.com/eclinic">follow @eClinic</a>
      <a class="twitter-share-button bttn" onclick="window.open(this.href, '_new', 'status=0, height=400, width=550, resizable=0, dependent=1');return false;" href="http://twitter.com/share?url=http%3A%2F%2Feclinic.com">tweet this</a>
      <h2 class="twitter">twitter</h2>
      <div id="twitter_feed"></div>
    </div>
    <div id="facebook">
      <a class="bttn" href="http://www.facebook.com/sharer.php?u=eclinic.com&amp;t=eClinic.com%20-%20Speak%20for%20Your%20Health" type="icon_link" name="fb_share">share on facebook</a>
      <h2 class="facebook">facebook</h2>
      <fb:activity recommendations="true" border_color="#fff" header="false" height="300" width="420" site="http://eclinic.com" class="  fb_iframe_widget ">
      <span style="height: 300px; width: 420px;"><iframe scrolling="no" id="f268cbac843fa92" name="f25023849c890ee" style="border: medium none; overflow: hidden; height: 300px; width: 420px;" class="fb_ltr" src="http://www.facebook.com/plugins/activity.php?api_key=your%20app%20id&amp;border_color=%23fff&amp;header=false&amp;height=300&amp;linktarget=_blank&amp;locale=en_US&amp;recommendations=true&amp;sdk=joey&amp;site=http%3A%2F%2Feclinic.com&amp;width=420"></iframe></span></fb:activity>

    </div>        
  </div>
  <!-- social area end -->
</div>
<!-- middle container end -->




