<!-- middle container start -->
<div id="middleCntr">
  <!-- titleBar start -->
  <div class="titleBar">
    <h1>Improve your energy</h1>
    <h2 id="marketing">
      eClinic uses proven methodology to help you improve your energy levels
    </h2>
  </div>
  <!-- titleBar end -->

  <!-- video area start -->
  <div class="videoArea">
    <h2></h2>
    <p>
      eClinic (energy clinic) uses proven methodology to help you improve your energy. Increased energy may reflect a healthier life, and it might also be a first step towards making other improvements in your life...It is hard to make much progress on your health when you are always tired.  eClinic focuses on healthy changes that will improve your energy and your life.
    </p>
    <%= image_tag('graph.jpg', width: '62%', height: '290px') %>
  </div>
  <!-- video area end -->
  <!-- social area start -->
  <div class="socialArea">
    <div id="twitter">
    </div>
    <div id="facebook">
    </div>        
  </div>
  <!-- social area end -->
</div>
<!-- middle container end -->




