<!-- middle container start -->
<div id="middleCntr">
  <!-- title area start -->
  <div class="titleArea">
    <h2>Planning</h2>
  </div>
  <!-- title area end -->
  <!-- left panel start -->
  <div id="leftPanel">
    <!-- content box start -->
    <div class="contentBox">

      <p>
        A Key Driver Diagram (KDD)represents the theory of improvement.  It is a work in progress and is updated as knowledge is gained through personal experiments.  The key driver diagram below is broad in order to apply to many people.  It will be updated as the community comes up with more ideas and knowledge about improving energy.
      </p>
      <p>
        We encourage you to create your own personalized key driver diagram (feel free to use our template).  Consider highlighting the key drivers and interventions you are working on.  As your knowledge grows from your experiments add to or change aspects of your diagram to reflect your theories about energy.  We welcome you to share your own personal key driver diagram on eClinic.
      </p>
      
      <p>
        Your aim in the diagram is “what” you are trying to accomplish.  Your aim should be “SMART” (specific, measurable, attainable, relevant, and time-bound).  An example SMART aim would be “To increase my energy level from a score of 5 to 6.5 by June 20th 2015”.  Use the smart aim tool linked to this page to work on your smart aim and then add it to your KDD diagram.
      </p>
      
      <table class="table table-bordered">
        <tbody>
          <tr class="warning">
            <td colspan='3'>Key Driver Diagram V1.1</td>
          </tr>
          <tr>
            <td class='warning'>Aim</td>
            <td class='success'>Key Drivers</td>
            <td class='info'>Interventions</td>
          </tr>         
          <tr>
            <td rowspan='8'>To increase my energy and vitality</td>
            <td>Improved Sleep</td>
            <td>
              <span>Meditation</span><br/>
              <span>Sleep hygiene</span><br>
              <span>Dark room</span><br/>
              <span>Increase amount</span><br/>
              <span>Increase consistency</span><br/>
              <span>Better bed</span>
            </td>
          </tr>    
          <tr>
           
            <td>Optimized nutrition</td>
            <td>
                <span>Balanced meals</span><br/>
                <span>Increased vegetable intake</span><br/>
                <span>Ketosis</span><br/>
                <span>Regular meals throughout day</span><br/>
                <span>Adding protein- protein powder</span><br/>
                <span>Adding fat</span><br/>
                <span>Elimination diet</span><br/>
                <span>Give up caffeine</span><br/>
                <span>Drink water</span><br/>
                <span>Removal of toxins</span><br/>
                <span>Avoid glutten</span>
            </td>
          </tr>         
          <tr>
            <td>
              Emotional wellbeing
              Decreased anxiety / stress 
            </td>
            <td>
              <span>Meditation</span><br/>
              <span>CBT</span><br/>
              <span>Yoga</span><br/>
              <span>Increase motivation</span><br/>
              <span>Spend time outside</span><br/>
              Get massage
            </td>
          </tr>
          <tr>
            <td>Targeted Supplements</td>
            <td>
              <span>Magnesium</span><br/>
              <span>Bulletproof coffee</span><br/>
            </td>
          </tr> 
          <tr>
            <td>Management of medical issues</td>
            <td>Discuss with PCP</td>
          </tr>                                        
          <tr>
            <td>Exercise</td>
            <td>
              <span>HIIT</span><br/>
              <span>Aerobic exercise</span><br/>
              <span>Weight lifting</span><br/>
              <span>hot coals</span>
            </td>
          </tr> 
          
          <tr>
            <td>Unrecognized</td>
            <td>
              <span>Food allergy test</span><br/>
              <span>Vitamin deficiency test</span><br/>
              <span>Adrenal fatigue</span><br/>
              <span>MS</span><br/>
              <span>Thyroid problem</span>
            </td>
          </tr> 
          <tr>
            <td>
              <span>?reduce inflammation</span><br/>
              <span>?boost metabolism</span><br/>
              <span>?Avoid toxic exposures</span>
            </td>
            <td>take cold shower</td>
          </tr>           
        </tbody>
      </table>

    </div>
    <!-- content box end -->
  </div>
  <!-- left panel end -->
  <!-- right panel start -->
  <div id="rightPanel">
  </div>
  <!-- right panel end -->
</div>
<!-- middle container end -->

