<!-- middle container start -->
<div id="middleCntr">
  <!-- title area start -->
  <div class="titleArea">
    <h2>Tracking</h2>
  </div>
  <!-- title area end -->
  <!-- left panel start -->
  <div id="leftPanel">
    <!-- content box start -->
    <div class="contentBox">
      <%= image_tag('graph.jpg', width: '100%') %>
      <p>
        <em>
          In order to improve your energy you need to know if your experiments are making a difference.  Once your energy has improved you want to monitor it to make sure you are staying at the level you want.
        </em>
      </p>
      
      <p>
        Statistical process control is a method to help you do this.  The simplest way to monitor is with a run chart.  A run chart graphs your energy over time.  A “centerline” is calculated from baseline data.  Some simple rules will help you know what a significant change in your energy level has occurred.
      </p>
      
      <p>Download the free run chart template and share your results on the site.</p>
      <h4 style="text-decoration:underline;">Baseline data</h4>
      <p>
        It is preferable to have baseline data in order to know where you are starting.   We recommend at least one week's worth of data in order to establish a baseline.
      </p>
      <h4 style="text-decoration:underline;">Rules for shifting centerline and showing change</h4>
      <p>
        If you meet either of the below criteria established from your baseline, your energy has seen a significant change!
      </p>
      <ul>
        <li> 8 or more consecutive points above or below centerline </li>
        <li> Six consecutive points all going up or all going down</li>
      </ul>
    </div>
    <!-- content box end -->
  </div>
  <!-- left panel end -->
  <!-- right panel start -->
  <div id="rightPanel">
  </div>
  <!-- right panel end -->
</div>
<!-- middle container end -->

